.dragBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 80px;
}

.card {
    box-sizing: border-box;
    padding: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 108px;
    border-radius:10px;

    .cardInformation {
      display: flex;
      align-content: flex-start;
      margin-bottom: 10px; 
    }
}

.cardFont {
  font-size: 20px;
  font-family: 'Fascinate', cursive;
}